.seating-chart {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    gap: 10px;
    justify-content: center;
}

.seat {
    width: 70px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ccc;
    cursor: pointer
}

.booked {
    background-color: #FF0000;
    cursor: not-allowed;
    color: white;
}
.avaiable {
    background-color: #7FFF00;
}

.select-button {
    width: 100%;
    padding: 10px;
    margin: 10px
    background-color blue;
    color: white;
    border: none;
    cursor: pointer;
}

function updateSeatStatus(row, col, status) {
    const seats = document.getElementsByClassName('seat');
    const index = row * 3 + col;
    seats[index].classList.remove('available', 'booked');
    seats[index].classList.add(status);
}
